/* .main_body {
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 20px 20px 20px 20px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    border-radius: 5%;
    margin-top: 15%;
    margin-bottom: 15%;
    width: 40%;
} */

.main_body {
    width: 520px;
    height: 728px;
    align-content: center;
    text-align: center;
    margin: 15%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    border-radius: 25px;
}


h1{
     ;
}

.in {
    display: block;
    width: 70%;
    /* border-radius: 2px; */

}

body {
    background-color: #F5F5F5;
}


label {
    
    margin-left: 13%;
    padding-bottom: 7px;
    display: block;
    text-align: left;
    margin-bottom: 1px;
}


div input {
    border: #F5F5F5;
    box-shadow: none;
    border-color: #F5F5F5;
    background-color: #F5F5F5	;
    color: black;
    /* margin-left: 20px; */
    margin: auto;
    padding: 10px;
    /* margin: 1rem; */
    /* margin-top: 0.5rem; */
    align-content: center;
    margin-bottom: 10px;
}



label{
    color: grey;
    /* width: 360px;
    height: 48px; */
}

input[type=text]{
    border-radius: 0.3rem;

}

input[type=email]{
    border-radius: 0.3rem;
}
input[type=number]{
    border-radius: 0.3rem;
}

input[type=password]{
    border-radius: 0.3rem;
}

.submit {

    background-color: #50C878;
    width:360px;
    height: 48px;
    padding: 15px;
    border: #50C878;
    border-radius: 1.5rem;
    color: white;
    font-size: 15px;
}

.google {
    text-align: center;
    width: 360px;
    height: 48px;
    margin-left: 30px;
    display: inline-flex;
    background-color: black;
    width: 70%;
    padding: 5px;
    border: #50C878;
    border-radius: 1.5rem;
    color: white;
    font-size: 15px;
    align-items: center;        /* Vertically centers the image and text */
    gap: 2px;
    margin-right: 36px;
}

img {
    margin-left: 67px;
}

.log{
    margin-top: 2.5%;
    background-color: white;
    border: white;
    color: #50C878;
    /* margin: 0%; */
    padding: 0%;
}


@media only screen and (max-width: 375px) {
    .main_body {
        width: 335px;
        height: 664px;
        align-content: center;
        text-align: center;
        margin: 15%;
        margin-left: 30%;
        margin-right: 30%;
        background-color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 5px;
        border-radius: 25px;
    }
    
    .submit {

        background-color: #50C878;
        width:311px;
        height: 48px;
        padding: 15px;
        border: #50C878;
        border-radius: 1.5rem;
        color: white;
        font-size: 15px;
    }
    
    .google {
        text-align: center;
        width: 311px;
        height: 48px;
        margin-left: 30px;
        display: inline-flex;
        background-color: black;
        width: 70%;
        padding: 5px;
        border: #50C878;
        border-radius: 1.5rem;
        color: white;
        font-size: 15px;
        align-items: center;        /* Vertically centers the image and text */
        gap: 2px;
        margin-right: 36px;
    }
    


}